streamlit
pandas
numpy
yfinance
scikit-learn
matplotlib
seaborn
statsmodels
nltk
transformers
torch
wordcloud
pygooglenews
dash
dash-bootstrap-components
scipy
plotly
wordcloud
vaderSentiment
gunicorn

